
ol,ul {
    list-style: none;
}

#mainMenu li {
	display:block;
	width:120px;
	float:left;
	margin-left:180px;
    font-size: 22px;


    display:block;
	padding:3px;
	text-decoration:none;
}

body{
    margin: 0;
    padding: 0;
    animation:bgcolor infinite 7s;
    }


h1{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    color: rgba(0, 7, 66, 0.986);
    position: absolute;
    top:50%;
    left :50%;    
    transform:translate(-50%,-50%);
    text-align: center;
    text-transform: uppercase;
} 


@keyframes bgcolor{
0%  
{
    background: #81ecec;
    
}
20%  
{
    background: #00cec9;
}
40%  
{
    background: #0abde3;
}
60%  
{
    background: #01a3a4;
}
80%  
{
    background:#34ace0 ;
}
100%  
{
    background: #227093;
}
}